// Specific CSS for your home-page
html {
    min-height: 100%;
  }

body {
  background-image: image-url('bg.jpg');
  font-family: 'Roboto', sans-serif;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 0.75rem;
  height: 100%;
  color: white;
}

.aa-bg {
  width: 100%;
}

.aa-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  // background-color: #ffffff;
  background-color: #000000;
  width: 90%;
}

.aa-flexitem {
  flex: 1 1 auto;
  text-align: center;
}

// .aa-flexitem svg {
//   width: 50%;
// }

.aa-flexitem img {
  width: 75%;
}

.aa-flexitem form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.aa-secondflex {
  display: flex;
  justify-content: center;
}

.aa-flexitem form input {
  padding: 9px 9px;
  width: 60%;
}

.readable-margin {
 margin-top: 21px;
 margin-bottom: 15px;
}

.aa-flexitem a {
  // background-color: #4492C9;
  background: #4492C9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29648d, #569ace); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29648d, #569ace); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff !important;
  padding: 10px 12px;
}

.aa-flexitem form button {
  // background-color: #4492C9;
  background: #4492C9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29648d, #569ace); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29648d, #569ace); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff !important;
  padding: 10px 12px;
}

// .aa-roboto {
//   font-family: 'Roboto', sans-serif;
// }

.aa-row {
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}

.aa-logo {
  margin-top: 5px;
}

.aa-padding-text {
  padding: 0px 22px;
}

.aa-form-right {
 border-bottom-right-radius: 5px;
 border-top-right-radius: 5px;
 border-width: 0px;
}

.aa-form-left {
 border-bottom-left-radius: 5px;
 border-top-left-radius: 5px;
 border-right: 0px;
 border-style: solid;
 border-width: 1px;
 border-color: lightgray;
}

.aa-paragraphe {
  margin-bottom: 20px;
}

.aa-bg-black {
  background-color: black;
}

.aa-fittovideo {
  max-height: 400px;
}

.aa-border-vid {
  height: 5px;
}

a > svg {
  width: 28px;
  height: 28px;
  fill: white;
  margin-right: 5px;
}

button > svg {
  width: 28px;
  height: 28px;
  fill: white;
  margin-right: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1; /* Firefox */
  font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
  font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
  font-style: italic;
}


  .aa-mobile {
    display: block;
  }

  .aa-desktop {
    display: none;
  }



@media (min-width: 576px) {

  body {
    font-size: 0.95rem;
  }

  .aa-container {
    width: 570px;
  }

  .aa-mobile {
    display: none;
  }

  .aa-desktop {
    display: block;
  }

}

.video-container {
position: relative;
padding-bottom: 56.25%;
// padding-top: 30px;
height: 0;
overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

button:focus
{
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button
{
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


input[type="text"]
{
    outline:none;
}

.ssb-facebook {
 background-image: image-url('fb.png') !important;
}

.ssb-twitter {
  background-image: image-url('tw.png') !important;
}

.ssb-pinterest {
  background-image: image-url('pint.png') !important;
}

.ssb-linkedin {
  background-image: image-url('in.png') !important;
}

.ssb-tumblr {
 background-image: image-url('tumblr.png') !important;
}


.social-share-button .ssb-icon {
  // border: 1px solid !important;
  border: 3px solid !important;
  border-radius: 45px !important;
  border-color: lightgray !important;
  padding: 20px !important;

}


