// Specific CSS for your home-page
html {
  height: 100%;
}
body {
  background-image: image-url('bg.jpg');
  font-family: 'Roboto', sans-serif;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 0.75rem;
}

.aa-bg {
  width: 100%;
  height: 100%;
}

.aa-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 95%;
}

.aa-flexitem {
  flex: 1 1 auto;
  text-align: center;
}

.aa-flexitem svg {
  width: 50%;
}

.aa-flexitem img {
  width: 75%;
}

.aa-flexitem form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.aa-flexitem form input {
  padding: 9px 9px;
  width: 60%;
}

.readable-margin {
 margin-top: 21px;
 margin-bottom: 26px;
}

.aa-flexitem form a {
  // background-color: #4492C9;
  background: #4492C9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29648d, #569ace); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29648d, #569ace); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff !important;
  padding: 12px 12px;
}

// .aa-roboto {
//   font-family: 'Roboto', sans-serif;
// }

.aa-row {
   box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.aa-logo {
  margin-top: 5px;
}

.aa-padding-text {
  padding: 0px 22px;
}

.aa-form-right {
 border-bottom-right-radius: 5px;
 border-top-right-radius: 5px;
}

.aa-form-left {
 border-bottom-left-radius: 5px;
 border-top-left-radius: 5px;
 border-right: 0px;
 border-style: solid;
 border-width: 1px;
 border-color: lightgray;
}

.aa-paragraphe {
  margin-bottom: 20px;
}

.aa-bg-black {
  background-color: black;
}

.aa-fittovideo {
  height: 400px;
}

.aa-border-vid {
  height: 5px;
}

@media (min-width: 576px) {

body {
  font-size: 0.95rem;
}

.aa-container {
  width: 570px;
}

}
