<div class="aa-bg">
  <div class="aa-container">
    <div class="aa-row">
      <div class="aa-logo aa-flexitem">
        <%= image_tag 'artaetas.png' %>
      </div>

      <div class="aa-flexitem readable-margin">
        <p class="aa-paragraphe aa-padding-text"><b>La plateforme Artaetas, c’est la simplicité d’une plateforme dédiée mobile, c’est le choix en oeuvres d’art de toutes catégories, c’est la liberté de vendre et d’acheter, pour tous, artistes, amateurs et collectionneurs.</b></p>
        <p class="aa-padding-text">Merci de votre inscription, a bientôt !</p>
      </div>

      <div class="aa-flexitem aa-secondflex">
      <%= social_share_button_tag("Artaetas", :image => "https://raw.github.com/vkulpa/social-share-button/master/lib/assets/images/sprites/social-share-button/tumblr.png", :'data-type' => 'photo') %>
      </div>

      <div class="aa-flexitem aa-bg-black aa-border-vid"></div>

      <div class="aa-flexitem aa-bg-black video-container">
        <iframe class="embed-responsive-item" width="" height="" src="https://www.youtube.com/embed/hVz6pa7d_2Y?modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <!--  <iframe src="https://player.vimeo.com/video/336390853" width="80%" height="400px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
      </div>

      <div class="aa-flexitem aa-bg-black aa-border-vid"></div>

    </div>
  </div>
</div>
