<div class="aa-bg">
  <div class="aa-container">
    <div class="aa-row">
      <div class="aa-logo aa-flexitem">
        <%= image_tag 'artaetas_blanc.png' %>
      </div>

      <div class="aa-flexitem readable-margin">
        <p class="aa-paragraphe aa-padding-text aa-desktop"><b>La plateforme Artaetas, c’est la simplicité d’une plateforme dédiée mobile, c’est le choix en oeuvres d’art de toutes catégories, c’est la liberté de vendre et d’acheter, pour tous, artistes, amateurs et collectionneurs.</b></p>
        <p class="aa-paragraphe aa-padding-text aa-mobile"><b>Artaetas, c'est la liberté de vendre et d'acheter pour tous, artistes, amateurs et collectionneurs.</b></p>
        <p class="aa-padding-text"><%= if @sondage.errors[:email] == [] then "Merci de votre inscription, a bientôt !" else "Adresse email invalide!" end %></p>
      </div>

      <div class="aa-flexitem aa-secondflex aa-paragraphe">
      <%= social_share_button_tag("Decouvrez Artaetas, Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs", :image => "https://i.imgur.com/1b8bZ6h.jpg", :'data-twitter-hashtags' => "art,artaetas", :'via' => "artaetas", :'data-type' => 'photo', :url => "http://www.artaetas.com", desc: "It's time for art!", :'data-quote' => "Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs", :'data-summary' => "Une plaforme d\'achat et vente d\'oeuvres d\'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs")%>
      </div>

      <!-- <div class="aa-flexitem aa-bg-black aa-border-vid"></div> -->

      <div class="aa-flexitem aa-bg-black video-container">
        <iframe class="embed-responsive-item" width="" height="" src="https://www.youtube.com/embed/hD7tYm5FwZI?modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <!--  <iframe src="https://player.vimeo.com/video/336390853" width="80%" height="400px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
      </div>

      <!-- <div class="aa-flexitem aa-bg-black aa-border-vid"></div> -->

    </div>
  </div>
</div>
