<div class="aa-bg">
  <div class="aa-container">
    <div class="aa-row">
      <div class="aa-logo aa-flexitem">
        <!-- < svg 'artaetas_noir_seul' > -->
        <%= image_tag 'artaetas.png' %>
      </div>
      <!-- <div class="aa-flexitem">
        < svg 'artaetas_noir-baseline-seul' >
      </div> -->
      <div class="aa-flexitem readable-margin">
        <p class="aa-paragraphe aa-padding-text"><b>La plateforme Artaetas, c’est la simplicité d’une plateforme dédiée mobile, c’est le choix en oeuvres d’art de toutes catégories, c’est la liberté de vendre et d’acheter, pour tous, artistes, amateurs et collectionneurs.</b></p>
        <p class="aa-padding-text">Soyez les premiers informés du lancement du site !<br>
100 mises en avant offertes par tirage au sort la veille du lancement.</p>
      </div>
      <div class="aa-flexitem aa-secondflex">
        <div class="fb-share-button"
        data-href="http://artaetasv0.herokuapp.com"
        data-size="large"
        data-layout="button" id="button-size">
        </div>
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet"
          data-size="large"
          data-text="Nos Hamsters @ Petit Oignons"
          data-url="http://artaetasv0.herokuapp.com/social"
          data-hashtags="art,oignons,hamsters"
          data-via="artaetasv0"
          data-related="artaetas,art,yaa"
          id="button-size">
        Tweet
        </a>
        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-media="http://artaetasv0.herokuapp.com/assets/bgv1-ad2694c49a8d55aa1fe31bbb625d46bc1d39308ffc3d05be6fc5e6c3866ee7d3.png" data-pin-description="Artaetas, Les Hamsters de l'espace" data-pin-url="http://artaetasv0.herokuapp.com"
        id="button-size">

        </a>
      </div>
      <div class="aa-flexitem aa-bg-black aa-border-vid">
      </div>
      <div class="aa-flexitem aa-bg-black aa-fittovideo">
        <iframe src="https://player.vimeo.com/video/336390853" width="80%" height="400px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <div class="aa-flexitem aa-bg-black aa-border-vid">
      </div>
    </div>
  </div>
</div>
