<div class="aa-bg">
  <div class="aa-container">
    <div class="aa-row">

      <div class="aa-logo aa-flexitem">
        <%= image_tag 'artaetas.png' %>
      </div>

      <div class="aa-flexitem readable-margin">
        <p class="aa-paragraphe aa-padding-text aa-desktop"><b>La plateforme Artaetas, c’est la simplicité d’une plateforme dédiée mobile, c’est le choix en oeuvres d’art de toutes catégories, c’est la liberté de vendre et d’acheter, pour tous, artistes, amateurs et collectionneurs.</b></p>
        <p class="aa-paragraphe aa-padding-text aa-mobile"><b>Artaetas, c'est la liberté de vendre et d'acheter pour tous, artistes, amateurs et collectionneurs.</b></p>
        <p class="aa-padding-text">
          Soyez les premiers informés du lancement du site !<br>
          100 mises en avant offertes par tirage au sort la veille du lancement.
        </p>
      </div>

      <div class="aa-flexitem">
        <form method="post" action="/">
         <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input class="aa-form-left" type="text" name="sondage[email]" id="email" placeholder="Renseignez votre Email...">
          <button type="submit" class="aa-form-right"><%= svg 'ok' %> je m'inscris</button>
        </form>
      </div>
      <!-- <div class="aa-flexitem aa-bg-black aa-border-vid"> -->
      <div class="aa-flexitem aa-bg-black video-container">
        <!-- <iframe src="https://streamable.com/s/z63p9/apliho" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe> -->
        <iframe class="embed-responsive-item" width="" height="" src="https://www.youtube.com/embed/hD7tYm5FwZI?modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <!--  <iframe src="https://player.vimeo.com/video/336390853" width="80%" height="400px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
      </div>
        <!-- <div class="aa-flexitem aa-bg-black aa-border-vid"> -->
    </div>
  </div>
</div>
